* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-family: 'Roboto Slab', serif;
}

/* Site Sections */

section {
	padding: 15px;
}

/*Site header*/

.horizontal-nav > li {
	display: inline-block;
	font-size: 16px;
	padding: 50px 20px;
}

.userSignedIn {
	padding-top: 50px; 
	padding-bottom: 20px;
	color: white;
	font-size: 16px;
}

/*Landing page*/



/*Cohorts dashboard*/

p.thread {
	font-family: 'Roboto Slab', serif;
}

.headerBackground {
	background-color: #404e66;
}

h1 {
	padding: 20px;
}

#topics {
	padding: 20px;
}

.searchFunctions {
	padding: 20px 0 40px;
}

#discussionThreads > .row {
	border-bottom: 1px solid #043049;
    padding-bottom: 40px;
    margin-bottom: 40px
}

p.thread {
	font-size: 18px;
}


.topics > li {
	text-decoration: none;
	display: inline;
	padding: 25px;
}

.end {
	text-align: center;
	font-style: italic;
	padding: 10px 0 60px;
}

/*Discussion thread*/

.threadDetails > li {
	text-decoration: none;
	display: inline;
}

.bio.flex-col {
    max-width: 200px;
    width: 100%;
    padding: 10px;
}

.thread-card {
	border: 1px solid #e6e6e6;
	align-items: center;
}

.thread-list .thread-card:not(:last-child) {
	margin-bottom: 20px;
}

/*Site footer*/

.footerBackground {
	background-color: #404e66;
}

footer {
	color: white;
	padding: 50px;
}

footer > ul > a {
	padding: 20px;
}

ul.text-list > li {
    font-size: 16px;
    margin-bottom: 14px;
    color: #484848;
}

.logoFooter {
	padding-bottom: 20px;
}

.flex {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.padding-a-xs {
	padding: 5px;
}

.padding-a-sm {
	padding: 10px;
}

.padding-a-md {
	padding: 20px;
}

.padding-a-lg {
	padding: 40px;
}

.padding-t-xs {
	padding-top: 5px;
}

.padding-t-sm {
	padding-top: 10px;
}

.padding-t-md {
	padding-top: 20px;
}

.padding-t-lg {
	padding-top: 40px;
}


.padding-b-xs {
	padding-bottom: 5px;
}

.padding-b-sm {
	padding-bottom: 10px;
}

.padding-b-md {
	padding-bottom: 20px;
}

.padding-b-lg {
	padding-bottom: 40px;
}

.shadow {
	box-shadow: 1px 1px 20px 3px #383d4626;
}